<div class="container-fluid header">
  <h1 class="text-center">{{title}}</h1>
</div>
<div class="container formcontainer">
  <div class="row">
    <div class="col-xs-4 text-right">
      <form>
        <div class="form-group">
          <select class="form form-control" name="param" [(ngModel)]="param">
            <option value="firstname">Ordre alphabétique</option>
            <option value="timestamp">par date</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-xs-8"><input class="form-control"  type="text" name="search" [(ngModel)]="word" placeholder="Rechercher"></div>
    <form (ngSubmit)="onSubmit()" #friendForm="ngForm">
      <div class="form-group">
      <div class="col-xs-3"><input type="text" id="firstname" #firstname="ngModel" (ngModel)="newFriend.firstname" required class="form-control" placeholder="prénom" name="firstname"></div>
      <!-- <div class="col-xs-3"><input class="form form-control" (ngModel)="newFriend.phone" name="phone" required placeholder="téléphone"></div>
      <div class="col-xs-3"><input class="form form-control" (ngModel)="newFriend.address" name="address" required placeholder="adresse"></div> -->
    </div>
      <div class="col-xs-3"><button type="submit" class="btn btn-info">Ajouter</button></div>
    </form>
  </div>
</div>
<div class="container content">
  <div class="col-xs-6">
    <h2>Vous avez {{tabfriends.length}} contacts</h2>
    <div class="contactcontainer">
      <ul>
        <li  (click)="showDetails(friend)" *ngFor = "let friend of tabfriends">
          <button (click)="deleteFriend(friend)" class="btn btn-info">X</button>  <img [src]="friend.image">    {{friend.firstname}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-6">
    <div *ngIf="!details">
      <h2>Cliquez sur un contact pour afficher les details</h2>
    </div>
    <div *ngIf="details">
      <h2>Details</h2>
      <div class="contactcontainer">
        <p>Contact ajouté le {{details.timestamp*1000 | date: 'd/MM/y'}}</p>
        <ul>
          <li>Prénom: {{details.firstname}} </li>
          <li>Téléphone: {{details.phone}}</li>
          <li>adresse: {{details.address}}  {{details.cp}}</li>
          <li><button class="btn btn-info" (click)="hideDetails(friend)">Cacher les details</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
